

<div ng-cloak>
    <div layout="column">
	    <md-card >
	    	<md-toolbar class="md-primary" class="md-padding" layout="row" layout-align="center center">
		        <md-card-header>
					<md-card-header-text layout="column" layout-align="center center">
						<img src="/images/logo-login.png" class="md-card-image" alt="Lenderprice" />
		            	<h2 class="md-display-2">
		            		Lender Price <span style="color: white; font-size: 9px">{{buildVersion()}}</span>
		            	</h2>
					</md-card-header-text>
					
				</md-card-header>
		    	
	    	</md-toolbar>
	        <md-card-content >
				<md-content layout="row" layout-padding layout-xs="column">
					<md-content flex>
						<h4>Change Your Password</h4>
				    	<form name="contactForm" autocomplete="off">
				        	<div layout-gt-sm="column">
				          		<md-input-container class="md-block" flex>
							    	<label>Username</label>
							        <input ng-model="user.username" disabled="disabled" required type="text" autocomplete="off" />
				          		</md-input-container>
				          		<md-input-container class="md-block" flex>
							        <label>Password</label>
							        <input ng-model="user.password" required type="password" autocomplete="off" />
							        <div class="error" ng-if="vars.errors.password">
							        	{{vars.errors.password}}
							        </div>
				          		</md-input-container>
				          		<md-input-container class="md-block" flex>
							        <label>Confirm</label>
							        <input ng-model="user.passwordConfirm" required type="password" autocomplete="off" />
    						        <div class="error" ng-if="user.passwordConfirm != null && user.passwordConfirm != '' && user.passwordConfirm != user.password">
							        	Password does not match the confirm password.
							        </div>
				          		</md-input-container>
				        	</div>
				      	</form>
				      	<section layout="column" layout-align="center stretch" >
							<md-button ng-disabled='user.password != user.passwordConfirm || user.passwordConfirm == null || user.password == null' class="md-raised md-primary" 
									ng-click="changePassword(user)">Change</md-button>
		        		
		        		</section>
				  	</md-content>
				</md-content>
	       		
	        </md-card-content>
	        
	        
	        
	        <md-card-actions layout="row" layout-xs="column" layout-align="space-between stretch" layout-align-xs="center center">
	        	<div>
	        		<md-button class="md-hue-2" ng-href="#/login/log">Login/Signup</md-button>
	        	</div>
       		</md-card-actions>
	      </md-card>
    </div>
		
</div>