
<div ng-cloak>
    <div layout="column">
	    <md-card >
	    	<md-toolbar class="md-primary" class="md-padding" layout="row" layout-align="center center">
		        <md-card-header>
					<md-card-header-text layout="column" layout-align="center center">
						<img src="/images/logo-login.png" class="md-card-image" alt="Lenderprice" />
		            	<h2 class="md-display-2">
		            		Lender Price <span style="color: white; font-size: 9px">{{buildVersion()}}</span>
		            	</h2>
					</md-card-header-text>
					
				</md-card-header>
		    	
	    	</md-toolbar>
			
	        <md-card-content >

				<div layout-padding="">
		      		<form name="userForm" autocomplete="off">
		        		<div layout-gt-sm="row" ng-show="false">
		          			<md-input-container class="md-block" flex>
		            			<label>Invite Code</label>
		            			<input ng-model="model.user.inviteId" required autocomplete="off"  />
							</md-input-container>
		        		</div>
		        		<div layout-gt-sm="row">
		        			<md-input-container class="md-block" flex>
		            			<label>Firstname</label>
		            			<input ng-model="model.user.firstname" type="text" required ng-focus autocomplete="off"  />
							</md-input-container>
		        			<md-input-container class="md-block" flex>
		            			<label>Lastname</label>
		            			<input ng-model="model.user.lastname" type="text" required ng-focus autocomplete="off"  />
							</md-input-container>
		        		</div>
		        		<div layout-gt-sm="row">
							<md-input-container class="md-block" flex>
		            			<label>Email</label>
		            			<input ng-model="model.user.email" type="email" required ng-focus autocomplete="off"  />
		            			<div class="error" ng-if="vars.errors.email">
            						{{vars.errors.email}}
           						</div>
		            			
							</md-input-container>  
							<md-input-container class="md-block" flex>
		            			<label>Phone</label>
		            			<input ng-model="model.user.phone" type="tel" international-phone-number national-mode='true'
								only-countries="us" auto-hide-dial-code='true' required ng-focus autocomplete="off"  />
							</md-input-container>         			
		        		</div>
		        		<div layout-gt-sm="row">
		          			<md-input-container class="md-block" flex>
		            			<label>{{!oauth? 'Desired' : ''}} Username</label>
		            			<input ng-model="model.user.username" required ng-focus autocomplete="off"  ng-keyup="canLogin(user) && $event.keyCode == 13 && !login(user)"/>
								<div class="error" ng-if="vars.errors.user">
            						{{vars.errors.user}}
           						</div>
							</md-input-container>
							<md-input-container class="md-block" flex>
		            			<label>Password</label>
		            			<input ng-model="model.user.password" type="password" required ng-focus autocomplete="off" ng-keyup="canLogin(user) && $event.keyCode == 13 && !login(user)"  />
								<div class="error" ng-if="vars.errors.password">
            						{{vars.errors.password}}
           						</div>

							</md-input-container>	          			
		        		</div>		        		
		      		</form>
		  		</div>
	        	<section layout="column" layout-align="center center">
	        		<div style="font-size: 12px; width: 70%; text-align: center;">
		        		By clicking Sign Up, you agree to our
						<a href="/documents/UserAgreement/UserAgreement.html" target="_blank">Terms</a> and 
						<a href="/documents/PrivacyPolicy/PrivacyPolicy.html" target="_blank">Privacy Policy</a> and that you have read our 
						<a href="/documents/CookiesPolicy/CookiesPolicy.html" target="_blank">Cookies</a> and
						<a href="/documents/CopyrightPolicy/CopyrightPolicy.html" target="_blank">Copyright Policy</a>.
	        		</div>
					
					
	        	</section>
	        	<md-card-actions>
	        		<section layout="row" layout-align="center center" >
						<md-button class="md-raised md-primary register " ng-disabled="!(validateInfo() && vars.pageInfoOk)" ng-click="confirmAndSignup()">Sign Up</md-button>
	        		
	        		</section>
	       		</md-card-actions>
	        </md-card-content>
	        
	        
	        
	        <md-card-actions class="bottom-link" layout="row" layout-xs="column" layout-align="space-between stretch" layout-align-xs="center center">
	        	<div>
					<md-button class="md-hue-2" ng-href="#/login/contact">Contact Us</md-button>
	        	
	        	</div>
	        	<div>
					<md-button class="md-hue-2" ng-href="#/login/log">Login/Signup</md-button>
				</div>
       		</md-card-actions>
	      </md-card>
    </div>
		


	
</div>


