/* line 3, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .pdf-content {
  border: 1px solid #000000;
}
/* line 7, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] CSS classes used by TextLayerBuilder to style the text layer divs
This stuff is important! Otherwise when you select the text, div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] the text in the divs will show up!
::selection {
  background: rgba(0, 0, 255, 0.3);
}
/* line 11, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] ::-moz-selection {
  background: rgba(0, 0, 255, 0.3);
}
/* line 13, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
  overflow: hidden;
}
/* line 23, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer > div {
  color: transparent;
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;
}
/* line 30, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer .highlight {
  margin: -1px;
  padding: 1px;
  background-color: rgba(180, 0, 170, 0.2);
  border-radius: 4px;
}
/* line 37, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}
/* line 40, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}
/* line 43, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer .highlight.middle {
  border-radius: 0px;
}
/* line 46, ../../../../../../../../view/app/company/template/templateGet/document/page/page.scss */
div[ng-controller="controllers.app.company.template.templateGet.document.page.PageController"] .textLayer .highlight.selected {
  background-color: rgba(0, 100, 0, 0.2);
}
